@import "./currencyConversion.css";
@import "./conversionAudit.css";

/* Navigation bar styling*/
nav {
    background-color: #BD7F53;
    color: white;
}

.navbar-title {
    color: #34766D;
    font-weight: bold;
    font-size: 22px;
    margin-right: 16px;
}

.navbar-link {
    display: block;
    padding: .5rem 1rem;
    color: white;
    text-decoration: none;
}

.navbar-link:hover {
    color: #34766D
}

.navbar-title:hover, .navbar-link:hover {
    text-decoration: none;
}

/* Main body styling*/
body {
    background-color: #34766D;
}

.page-title {
    color: white;
    margin-bottom: 30px;
}